.item {
    flex: 0 0 auto;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    cursor: pointer;
}


.itemWrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.itemWrapper img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    user-select: none;
}

.itemDescription {
    margin-top: 25px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    white-space: break-spaces;
    overflow: hidden;
    user-select: none;
}

.itemPrice {
    margin: 5px 0;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
    color: #000;
    white-space: break-spaces;
    overflow: hidden;
    user-select: none;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .item {
        height: 475px;
    }

    .itemDescription {
        font-size: 1.5rem;
    }

    .itemPrice {
        font-size: 1rem;
    }

    .itemWrapper img {
        height: 300px;
        width: 300px;
        object-fit: cover;
        user-select: none;
    }
}

@media screen and (min-width: 1024px) {
    .item {
        height: 650px;
    }

    .itemDescription {
        font-size: 2rem;
    }

    .itemPrice {
        font-size: 1.5rem;
    }

    .itemWrapper img {
        height: 500px;
        width: 550px;
        object-fit: cover;
        user-select: none;
    }
}